body {
    background-color: powderblue;
}

table, th, td {
border: 1px solid black;
}

.button {
    border:2px solid black;
    color:white;
    padding:15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn_ubah {
    background-color: green;
}

.btn_hapus {
    background-color: red;
}

.btn_tambah {
    background-color: aqua;
}

.font_tambah {
    color: black;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

label {
    display: block;
}

input[type=text] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-submit {
    width: 50%;
    background-color: #4caf50;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #45a049;
}

textarea {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


}