body {
    background-color: powderblue;
}

table, th, td {
border: 1px solid black;
}

.button {
    border:2px solid black;
    color:white;
    padding:15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn_ubah {
    background-color: green;
}

.btn_hapus {
    background-color: red;
}

.btn_tambah {
    background-color: aqua;
}

.font_tambah {
    color: black;
}